.PopUpContainer2 {
  margin: auto;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 600px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0px 0px 24px 3px rgba(0, 0, 0, 0.25);
  background-color: #444444;
  align-items: center;
}

.PromptText {
  color: aliceblue;
  grid-row: 1;
  text-align: center;
  grid-column-end: span 2;
}

.YesPrompt {
  grid-row: 2;
  font-size: 30px;
  font-weight: 700;
  margin: auto;
  height: 60px;
  width: 200px;
  border-radius: 12px;
  color: aliceblue;
  background-color: rgb(175, 42, 42);
  transition: 0.5s;
}

.YesPrompt:hover {
  transform: scale(1.1);
  background-color: rgb(201, 50, 50);
  box-shadow: 0px 0px 24px 3px rgba(0, 0, 0, 0.25);
}

.NoPrompt {
  grid-row: 2;
  font-size: 30px;
  font-weight: 700;
  border-radius: 12px;
  margin: auto;
  height: 60px;
  background-color: rgb(255, 255, 255);
  width: 200px;
  transition: 0.5s;
}

.NoPrompt:hover {
  transform: scale(1.1);
  background-color: rgb(189, 189, 189);
  box-shadow: 0px 0px 24px 3px rgba(0, 0, 0, 0.25);
}
